/* Larger viewports */
@media only screen and (min-width: 32rem) {
/* Nav inline for tablets+ */
.nav.open .nav-list { display: flex; }
.nav-list { display: flex; flex-direction: row; gap: .5rem; }
}


@media only screen and (min-width: 48rem) {
.gallery { grid-template-columns: repeat(2, 1fr); }
}


@media only screen and (min-width: 64rem) {
.gallery { grid-template-columns: repeat(3, 1fr); }
}